/* Global styles */
*, html, body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #f0f0f0;
    --second-color: #333333;
    --h1-font: 50px;
    --p-font: 20px;
}

/* Title section */
.title {
    text-align: center;
    padding: 20px;
    margin: 0;
}

.title h1 {
    font-size: var(--h1-font);
    color: var(--main-color);
    text-shadow: 1px 1px rgba(25, 25, 25, 0.5);
}

.title select {
    padding: 10px;
    margin-top: 10px;
    background: var(--bg-color);
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
}

/* Manifest container */
.manifest-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: calc(100vh - 80px);
}

.r-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0;
    margin-bottom: 50px;
}

.r-content label {
    font-size: var(--p-font);
    color: #999999;
    font-weight: bold;
}

.r-content input {
    padding: 10px;
    border-radius: 5px;
    background: var(--main-color);
}

.r-content button {
    padding: 10px 20px;
    background: var(--bg-color);
    color: var(--second-color);
    border: 1px solid var(--second-color);
    transition: all .5s;
}

.r-content button:hover {
    background: var(--second-color);
    color: var(--bg-color);
    transform: scale(0.9);
}

.r-content pre {
    background: var(--main-color);
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    font-size: 11px;
    font-family: Monospace;
    color: #999999;
    overflow: scroll;
    min-width: 400px;
    max-height: 200px;
}

.r-content .button {
    display: flex;
    justify-content: center;
}

#download {
    background: var(--second-color);
    color: var(--bg-color);
    margin-right: 10px;
    transition: all .5s;
}

#download:hover {
    background: var(--bg-color);
    color: var(--second-color);
    transform: scale(0.9);
}

#dependent-r {
    display: none;
}

/* Media query */
@media(max-width: 768px) {
    .manifest-container {
        flex-direction: column;
        align-items: center;
    }

    body {
        font-size: 90%;
    }

    .title h1 {
        font-size: calc(var(--h1-font) * 0.7);
    }

    .r-content label {
        font-size: calc(var(--p-font) * 0.9);
    }

    .r-content input,
    .r-content button,
    .title select {
        font-size: calc(1em * 0.9);
    }

    .r-content pre {
        font-size: calc(11px * 0.9);
        min-width: calc(400px * 0.9);
    }
}